footer {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    border-top: 1px solid var(--bg-snow-white);
    padding-top: 32px;
}
/* logo and up button start */
.LogonTop {
    width: calc(100% - 40px);
    height: 40px;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}


.GoUp {
    width: 138px;
    height: 40px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid var(--bg-snow-white);
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--Button);
    gap: 5px;
    cursor: pointer;
}
html {
    scroll-behavior: smooth;
}
.GoUp>a {
    text-decoration: none;
    color: var(--Button);
    font-size: 12px;
    font-weight: 400;
}
/* logo and up button end */

/* telephone start */
.telephone {
    width: calc(100% - 40px);
    height: 26px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    background-color: white;
    margin-top: 16px;
    margin-bottom: 16px;
}
.telephone>p {
    font-size: 12px;
    color: var(--Genie);
}
.telephone>span {
    color: var(--Button);
}
/* telephone end */

/* take away options start */
.Order {
    width: calc(100% - 40px);
    height: 103px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.orderItem {
    width: 270px;
    height: 103px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.orderItem>img {
width: 56px;
height: 56px;
object-fit: cover;
}
.orderItem>span {
width: 100%;
height: 23px;
font-size: 11px;
text-align: center;
}
/* take away options end */

/* about us start */
.AboutUs {
    width: calc(100% - 40px);
    height: 269px;
    display: flex;
    flex-flow: row nowrap;
}
.customers {
width: 350px;
height: 269px;
background-color: white;
display: flex;
flex-flow: column wrap;
margin-top: 16px;
}
.customers>ul {
list-style-type: none;
line-height: 2.5;
color: var( --bg-dark-gray);
font-weight: 100;
font-size: 14px;
cursor: pointer;

}

.customers>li {
text-decoration: none;
list-style: none;

}
.customers li:nth-of-type(1) {
    color: var(--Genie); /* Change the color, font, or other properties */
    font-size: 16px;
    font-weight: 400;
    cursor: auto;
}

.customers:nth-last-of-type(1) {
    gap: 16px;
    padding-top: 8px;
}

.customers>span {
    font-size: 16px;
    color: var(--Genie);
}

.social {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    fill: var(--Button) ;
    cursor: pointer;
}

/* about us end */

/* email start */
.email {
   width: 100%;
   height: 48px;
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   gap: 7px;
}
.enterEmail {
    width: 261px;
    height: 48px;
    background-color: var(--bg-gray);
    border-radius: 8px;
    
}
.enterEmail> input {
    font-size: 14px;
}
.submitEmail {
    width: 54px;
    height: 48px;
    background-color: var(--bg-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 7px;
}
.submitEmail>button {
    background-color: transparent;
    box-shadow: none;
    width: 54px;
    height: 48px;
    border-radius: 7px;
    background-color: var(--bg-snow-white);
    color: white;
    border: none;
    font-size: 14px;
}

.submitEmail > button:hover {
    background-color: var(--Sweet-Red); 
    cursor: pointer;
}

/* email end */

/*  download the app start */

.dlApp {
    width: calc(100% - 40px);
    height: 76px;
    background-color: var(--Special);
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 8px;
    margin-bottom: 28px;

}
.LogonDl {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.LogonDl> img {
    width: 44px;
    height: 44px;
    object-fit: cover;
}
.LogonDl>span {
    text-align: center;
    font-size: 21px;
    color: white;
}


.DlButtons {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}
.Dl {
    width: 142px;
    height: 44px;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
}
.Dl>img {
    width: 142px;
    height: 44px;
    object-fit: contain;
}
.Dlmore {
    width: 42px;
    height: 44px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 10px;
    cursor: pointer;
}
.Dlmore>img {
    width: 42px;
    height: 44px;
    object-fit: contain;
    background-color: white;
}

/*  download the app end */

/* certificate start */
.certificate {
    width: calc(100% - 40px) ;
    height: 224px;
    background-color: white;
    border-top: 1px solid var(--bg-snow-white);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

}

.longText {
    width: 100%;
    height: 125px;
    overflow: hidden;
    margin-left: 40px;
    position: relative;
}
.textnmore {
    width: calc(100% - 391px);
    height: 159px;
    overflow: hidden;
    margin-left: 40px;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.show {
    display: flex;
    flex-flow: row wrap;
}
.testimony {
    width: 109px;
    height: 109px;
    overflow: hidden;
    background-color: aliceblue;
    margin-right: 8px;
    border-radius: 8px;
}
.testimony>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.longText>p {
    font-size: 12px;
    line-height: 2.17;
    color: var(--text-Gray);
}
.longText>h1 {
    font-size: 20px;
    color: var(--Ashes);
    line-height: 2.17;
}

.longText::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; 
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 50%, #fff);
}
/* certificate end */

/* end text start */
div.endText {
    width: calc(100% - 40px);
    height: 88px;
    font-size: 11px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: var(--text-Gray);
    border-top: 1px solid var(--bg-snow-white);
}
/* end test end */
.brandz {
    width: 100%;
    height: 80px;
    background-color: var(--bg-gray);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.myBrands {
    width: 100%;

}
.digii {
    width: 179px;
    height: 80px;
    border-right: 0.5px solid var(--bg-snow-white);
    border-left: 0.5px solid var(--bg-snow-white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}
.digii>img {
    object-fit: contain;
    height: 20px;
}
.digii2 {
    width: 239px;
    height: 80px;
    border-right: 0.5px solid var(--bg-snow-white);
    border-left: 0.5px solid var(--bg-snow-white);
    border-top: 1px solid var(--bg-snow-white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}


.digii:nth-last-of-type(6)>img {
    height: 20px;
    width: 86px;
}
/* brands start */
/* brands end */

