@import "./setting.css";
@import "./header.css";
@import "./slider.css";

main {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 16px;
}

/* main category start */

.MaincCategory {
    width: 100%;
    height: 118px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: flex-start; /* Align images at the top */
    flex-flow: row wrap;
    padding: 8px 48px;
}

.SubMainCategory {
    width: 82px;
    height: 102px;
    display: flex;
    flex-direction: column; /* Stack img and span vertically */
    align-items: center;    /* Center-align content */
    justify-content: flex-start; /* Align content at the top */
}

.SubMainCategory>img {
    width: 52px;
    height: 52px;
    display: block;
    border-radius: 50%;
    object-fit: cover;
}

.SubMainCategory>span {
    width: 100%; 
    text-align: center;
    font-size: 12px;
    margin-top: 5px; 
    color: var(--Genie);
    padding-top: 4px;
}
.Mainlogo {
    width: 52px;
    height: 52px;
    display: block;
    border-radius: 50%;
    background-color: var(--Light-Gray);
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #A0A3A7;
    
}
/* main category end */








/* incredible offer start */

/* incredible offer right start */
.IncredibleOffer {
    margin: 0 48px;
    width: calc(100% - 96px); 
    height: 294px;
    background-color: var(--Paradise-Pink);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    row-gap: 16px;
}

.incredibleoffers {
    width: 126px;
    height: 100%;
    margin: 0 20px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
    padding: 20px 0;

}

.FakeTime {
   
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: center;
    gap: 4px;
}

.FakeTime>span {
    color: white;
    font-weight: 700;
}

.time {
    width: 26px;
    height: 26px;
    background-color: white ;
}



/* incredible supermarket start */

.incredibleSupermarket {
    width: calc(100% - 96px);
    height: 110px;
    background-color: var(--App-Background);
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
    position: relative;
}

.incredibleInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row wrap;
}

.superbox {
    width: 62px;
    height: 66px;
}
.superbox>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.supertext {
    width: 250px;
    height: 28px;
    margin: 0 20px;
}
.supertext>img {
    width: 100%;
    height: 100%;
}

.superbutton {
    width: 110px;
    height: 28px;
    background-color: var(--Persian-Green);
    border-radius: 9999px;
}

/* left side */
.incredibleChoose {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.incredibleOption {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}
.ChooseOptions {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: white;
    padding: 8px;
    margin: 16px 0 16px 8px;
    z-index: 1;
    position: relative;
    
}
.saleTag2 {
    font-size: 12px;
    width: 34px;
    height: 20px;
    background-color: var(--Paradise-Pink);
    border-radius: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 18px;
    left: 8px;
  }
.ChooseOptions>img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 50%;
}
.moreProductbtn {
    width: 142.55px;
    height: 50.04px;
    background-color: white;
    padding: 12px 20px;
    /* Add margin to align with .ChooseOptions */
    margin-left: 8px; /* Match the left margin of .ChooseOptions */
    margin-bottom: 0px; /* Align with the bottom margin of .ChooseOptions */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    z-index: 1;
}
.svgunder {
    position: absolute;
    left: 0;
}
/* incredible supermarket end */

/* four options start */
.container {
    width: calc(100% - 96px);
    height: 242px;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    
}
.adv {
    width: 322px;
    height: 242px;
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
}

.adv>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* four options end */

/* Shopping based on category start */
.Title {
    width: 224px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    color: var(--Near-Black);
}
.base {
    width: calc(100% - 96px);
    height: 320px;
}
.categorized {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subcategory {
    width: 108px;
    height: 160px;
    margin: 0 19px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.subcategory>img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.subcategory>span {
    width: 100%;
    height: 26px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--Near-Black);
}

/* Shopping based on category end */

/* sale two parted start */
.sale {
    width: calc(100% - 96px);
    height: 264px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.saleAdv {
    width: 660px;
    height: 264px;
    border-radius: 16px;
    overflow: hidden;
}
.saleAdv>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* sale two parted end */