@import "./setting.css";
@import "./header.css";
@import "./slider.css";
@import "./footer.css";

main {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 16px;
}

/* main category start */

.MaincCategory {
    width: 100%;
    height: 118px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: flex-start; 
    flex-flow: row wrap;
    padding: 8px 48px;
}

.SubMainCategory {
    width: 82px;
    height: 102px;
    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: flex-start; 
}

.SubMainCategory>img {
    width: 52px;
    height: 52px;
    display: block;
    border-radius: 50%;
    object-fit: cover;
}

.SubMainCategory>span {
    width: 100%; 
    text-align: center;
    font-size: 12px;
    margin-top: 5px; 
    color: var(--Genie);
    padding-top: 4px;
}
.Mainlogo {
    width: 52px;
    height: 52px;
    display: block;
    border-radius: 50%;
    background-color: var(--Light-Gray);
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #A0A3A7;
    
}
/* main category end */



















/* incredible offer start */

/* incredible offer right start */
.IncredibleOffer {
    margin: 0 48px;
    width: calc(100% - 96px); 
    height: 294px;
    background-color: var(--Paradise-Pink);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    row-gap: 16px;
}

.incredibleoffers {
    width: 126px;
    height: 100%;
    margin: 0 20px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
    padding: 20px 0;

}

.FakeTime {
   
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: center;
    gap: 4px;
}

.FakeTime>span {
    color: white;
    font-weight: 700;
}

.time {
    width: 26px;
    height: 26px;
    background-color: white ;
}



/* incredible supermarket start */

.incredibleSupermarket {
    width: calc(100% - 96px);
    height: 110px;
    background-color: var(--App-Background);
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
    position: relative;
    cursor: pointer;
}

.incredibleInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row wrap;
}

.superbox {
    width: 62px;
    height: 66px;
}
.superbox>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.supertext {
    width: 250px;
    height: 28px;
    margin: 0 20px;
}
.supertext>img {
    width: 100%;
    height: 100%;
}

.superbutton {
    width: 110px;
    height: 28px;
    background-color: var(--Persian-Green);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.superbutton>span {
color: white;
font-size: 14px;
}

/* left side */
.incredibleChoose {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.incredibleOption {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}
.ChooseOptions {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: white;
    padding: 8px;
    margin: 16px 0 16px 8px;
    z-index: 1;
    position: relative;
    
}
.saleTag2 {
    font-size: 12px;
    width: 34px;
    height: 20px;
    background-color: var(--Paradise-Pink);
    border-radius: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 18px;
    left: 8px;
  }
.ChooseOptions>img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 50%;
}
.moreProductbtn {
    width: 142.55px;
    height: 50.04px;
    background-color: white;
    padding: 12px 20px;
    margin-left: 8px; 
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    gap: 8px;
    color: var(--Persian-Green);
    fill: var(--Persian-Green);
}
.svgunder {
    position: absolute;
    left: 0;
}
/* incredible supermarket end */

/* four options start */
.container {
    width: calc(100% - 96px);
    height: 242px;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    
}
.adv {
    width: 322px;
    height: 242px;
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
}

.adv>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* four options end */

/* Shopping based on category start */
.Title {
    width: 224px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    color: var(--Near-Black);
}
.base {
    width: calc(100% - 96px);
    height: 320px;
}
.categorized {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subcategory {
    width: 108px;
    height: 160px;
    margin: 0 19px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.subcategory>img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.subcategory>span {
    width: 100%;
    height: 26px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--Near-Black);
}

/* Shopping based on category end */

/* sale two parted start */
.sale {
    width: calc(100% - 96px);
    height: 264px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.saleAdv {
    width: 660px;
    height: 264px;
    border-radius: 16px;
    overflow: hidden;
}
.saleAdv>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* sale two parted end */



/* assortment 1 start */
.techology {
    width: calc(100% - 96px);
    height: 415px;
    border-radius: 16px;
    background-color: white;
    border: 1px solid var(--bg-snow-white);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.tech {
    width: 333px;
    height: 415px;
    background-color: white;
    padding: 8px 20px;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    position: relative;
    border-left: 1px solid var(--bg-snow-white);
}
.tech1 {
    width: 333px;
    height: 415px;
    background-color: white;
    padding: 8px 20px;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    position: relative;
}

.techphoto {
    width: 100%;
    height: 146px;
    display: flex;
    flex-flow: row wrap;
    background-color: aqua;
    overflow: hidden;
}

.techphoto2 {
    width: 100%;
    height: 146px;
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    position: relative;
    bottom: 10px;
}

.techSubphoto {
    width: 100%;
    height: 146px;
    display: flex;
    border-bottom: 1px solid var(--bg-snow-white);
    background-color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.img1 , .img2 , .img3 , .img4 {
    width: 146px;
    height: 146px;
    padding: 8px;
}

.img1>img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    display: block;
}
.img1 {
    border-left: 1px solid var(--bg-snow-white);
}
.img3 {
    border-left: 1px solid var(--bg-snow-white);
}
.img2>img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    display: block;
}

.techSubphoto2 {
    width: 100%;
    height: 146px;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.img3>img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    display: block;
}
.img4>img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    display: block;
}
.seeMore {
    display: flex;
    align-items: center;
    fill: var(--Light-Blue);
    position: relative;
    inset: 0;
    margin: auto;
    cursor: pointer;
}
.check {
    size: 1.2rem;
    font-weight: 700;
    font-stretch: 100%;
    font-size: 12px;
   color: var(--Light-Blue);
}
.techsub>p {
    font-size: 11px;
    color: var(--bg-dark-gray);
}
.techtitle>h4 {
    color: var(--Near-Black);
    font-size: 15px;
}
/* assortment 1 end */

/* digiclub start */
.digiclub {
    width: calc(100% - 96px);
    height: 88px;
    background: linear-gradient(76.02deg, #35a6c8 33.32%, #007295 71.55%), 
            radial-gradient(21.294% 87.33% at 50% 50.67%, #7cf216 0%, #35a6c8 100%);
    margin-top: 8px;
    padding: 0 16px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
}
.digiclubLogo {
width: 119px;
height: 33px;
object-fit: cover;
padding-right: 20px;
}
.digiclubPhoto {
    display: flex;
    gap: 4px;
}
.digiContainer {
    width: 257px;
    height: 64px;
    background-color: #fff;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}
.digiContainer1 {
    width: 257px;
    height: 64px;
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}
.digiContainer2 {
    width: 257px;
    height: 64px;
    background-color: #fff;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}


.awardph {
    width: 166px;
    height: 60px;
    object-fit: cover;
}
.awardtext{
    width: 48px;
    height: 26px;
    font-size: 10px;
    margin-right: 7px;
   
    line-height: 26px;
    color: var(--Near-Black);
    font-weight: 600;
    z-index: 1;
}
.awardsvg {
    fill: var(--Middle-Blue);
    margin-top: 5.5px;
    margin-right: 15px;
}

/* digiclub end */

/* special sale start */
.special {
    width: calc(100% - 96px);
    height: 167px;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
}
.special>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* special sale end */

/* elected items start */
.elected {
    width: calc(100% - 96px);
    height: 812px;
    background-color: white;
    border-radius: 16px;
    padding: 0 12px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border: 1px solid var(--bg-snow-white);
}
.ElectedTitle {
    width: 100%;
    height: 76px;
    padding: 16px 0;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--Sweet-Red);
    color: var(--Near-Black);
    gap: 4px;
}
.ElectedTitle>p {
    font-weight: 500;
    font-size: 21px;
}
.election {
    width: 100%;
    height: 242px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.elec1 {
    width: 218px;
    height: 242px;
    background-color: #fff;
    border-bottom: 1px solid var(--bg-snow-white);
    padding: 12px 8px;
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
    cursor: pointer;
}
.elec {
    width: 218px;
    height: 242px;
    background-color: #fff;
    border-bottom: 1px solid var(--bg-snow-white);
    border-right: 1px solid var(--bg-snow-white);
    padding: 12px 8px;
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
    cursor: pointer;
}
.electedPhoto {
    width: 201px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.electedPhoto>img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.saleTag {
    font-size: 12px;
    width: 34px;
    height: 20px;
    background-color: var(--Paradise-Pink);
    border-radius: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: relative;
  }

.onSale1 {
    font-size: 11px;
    color: var(--Cool-Gray);
    margin-right: 64%;
    text-decoration: line-through;
  }
  .PricenDiscount {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    fill: var(--Genie);
    direction: ltr;
  }
  .realPrice {
    font-size: 14px;
    color: var(--Genie);

  }
  
/* elected items end */

/* reading section start */
.read {
    width: calc(100% - 96px);
    height: 65px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    padding: 12px 20px;
}
.moreInfo {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--Light-Blue);
    fill: var(--Light-Blue);
}
.moreInfo>p {
    font-size: 12px;
}

.essay {
    width: calc(100% - 96px);
    height: 253px;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

}
.essays {
    width: 323px;
    height: 253px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border: 1px solid var(--bg-snow-white);
    overflow: hidden;
    cursor: pointer;
}
.essays>img {
    width: 323px;
    height: 201px;
    object-fit: cover;
}
.essays>span {
    width: 323px;
    height: 26px;
    background-color: #fff;
    padding: 8px 0px 16px 16px;
    padding-right: 16px;
    padding-left: 16px;
    margin: 8px 0px 0px; 
    font-size: 12px;
    font-weight: 400;
    color: var(--Near-Black);
}
/* reading section end */






  
