.slider {
    width: 100%;
    height: 170px;
    padding: 16px 43px;
    background-color: white;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  /* Wrapper for each slide, creating space and a colorful border */
  .whitespace {
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* Circular shape */
    width: 84px;  /* Match the width of the slide */
    height: 84px; /* Match the height of the slide */
    border-radius: 50%;
  
    /* Space between the slide and border */
    padding: 3px; /* Creates the white space around the slide */
    
    /* Colorful border */
    border: 3px solid #9B489B; /* Change this to your desired color */
    background-color: white; /* Background color of the space */
    border-top: 3px solid #CF4097;
    border-right: 3px solid #CF4097 ;
    border-left: 3px solid #9B489B;
    
  }
  
  /* Styles for the slide itself */
  .swiper-slide {
    text-align: center;
    display: flex;
    flex-direction: column; /* Change direction to column for stacking */
    justify-content: center;
    align-items: center;
    width: 100%; /* Takes full width of the wrapper */
    height: 100%; /* Takes full height of the wrapper */
    margin: auto; /* Center the slide */
  }
  
  /* Styles for the slide text */
  .slidetext {
    margin-top: 8px; /* Space between the slide and the text */
    font-size: 12px; /* Font size for the slide text */
    color: #333; /* Text color */
    text-align: center; /* Center the text */
    display: block; /* Make sure it displays as a block */
    height: 46px;
    width: 84px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .swiper-button-next,
  .swiper-button-prev {
background-color: white;
border: 1.4px solid var(--bg-snow-white);
border-radius: 50%;
width: 40px;
height: 40px;
top: 55%;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 13px; 
    color: var(--Dark-Gray);
  }