/* second slider */
.SecondSlider {
    width: 100%;
    height: 400px;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mySwiperSecond>.swiper-button-next {
      background-color: white;
      border: 1.4px solid var(--bg-snow-white);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      top: 90%;
      left: 96%;
    
  }
  .mySwiperSecond>.swiper-button-prev {
      background-color: white;
      border: 1.4px solid var(--bg-snow-white);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      top: 90% !important;
      left: 92%;
      
     
  }

  .mySwiperSecond {
    cursor: pointer;
  }


/* second slider end */
.mySwiper>.swiper-button-next {
    background-color: white;
    border: 1.4px solid var(--bg-snow-white);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.mySwiper>.swiper-button-prev {
    background-color: white;
    border: 1.4px solid var(--bg-snow-white);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 13px; 
    color: var(--Dark-Gray);
}





/* red slider start */
.redSlider {
    width: calc(100% - 32px); 
    height: 344px;
    border-radius: 9px;
    margin-top: 65px;
    background-image: url(../images/incrediblePattern.svg),linear-gradient(180deg,#e6123d,#c60c31);
    background-repeat: repeat-x !important;
    background-size: auto;
    background-position: top;
    padding: 0 20px;
    
}

.redText {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 16px;
    color: white;
    fill: white;
    padding: 16px 16px;
    gap: 7px;
}




.redishSlider>.mySwiperRed>.swiper-wrapper>.swiper-slide:nth-last-of-type(1)::before {
    content: "";
    position: absolute;
    right: 0;
    width: 110%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.415);
    z-index: 9;
    cursor: auto;

}
.faded {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--Sweet-Red);
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: white;
    
}

.redishSlider {
    width: 100%;
    height: 259px;
}
.redishSlider>.mySwiperRed>.swiper-wrapper>.swiper-slide {
    width: 576px;
    height: 259px;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    justify-content: center;
    gap: 10px;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
}
  
.redPhoto {
    width: 200px;
    height: 200px;
}

.pricenphoto {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    font-size: 12px;
    padding: 0 6px;
}
.reddesc {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column wrap;
    padding: 16px 10px;
    overflow: hidden;
    background-color: white;
    text-align: right;
    line-height: 2;
    gap: 10px;
}
.realPrice1 {
    font-size: 16px;
}
.star {
    padding-right: 310px;
}
.color {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 8px;
    fill: gold;
}
.color1 {
    width: 14px;
    height: 14px;
    background-color: gainsboro;
    border-radius: 50%;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mySwiperRed>.swiper-button-next {
    background-color: white;
    border: 1.4px solid var(--bg-snow-white);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 0%;
  
}
.mySwiperRed>.swiper-button-prev {
    background-color: white;
    border: 1.4px solid var(--bg-snow-white);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: 50% !important;
    left: 92%;
    
   
}

/* categorized shopping start */
.slider {
    width: calc(100% - 32px);
    height: 166px;
}

.subcategory>img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}
.subcategory>span {
    width: 100%;
    height: 26px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--Near-Black);
}

.slider>.mySwiperCategory>.swiper-wrapper>.swiper-slide {
    width: 114px;
    height: 166px;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    font-size: 12px;
    padding: 8px 0;
    color: var(--Near-Black);
}

.slider>.mySwiperCategory>.swiper-wrapper>.swiper-slide>img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin-bottom: 8px;
}
/* categorized shopping end */



/* third slider start */
.mySwiperThird>.swiper-button-next {
    background-color: white;
    border: 1.4px solid var(--bg-snow-white);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-right: 20px;
  }
  .mySwiperThird>.swiper-button-prev {
    background-color: white;
    border: 1.4px solid var(--bg-snow-white);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-right: 0px;
  }
  .swiper {
      width: 100%;
      height: 100%;
    }
  
    .ThirdSlider>.mySwiperThird>.swiper-wrapper>.swiper-slide {
      background: white;
      display: flex;
      width: 192px;
      height: 384px;
      flex-direction: column;
      padding: 12px 8px;
      gap: 15px;
      align-items: flex-start;
      justify-content: flex-start;
      cursor: pointer;
      border-radius: 8px;
      overflow: hidden;
      border-left: 0.5px solid var(--bg-snow-white);
     
    }
   
  
    .ThirdSlider {
      overflow: hidden;
      border-radius: 15px;
    }
  
    
  
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  
  .delivery {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    fill: var(--Navy-Blue);
    color: var(--Grey-Web);

  }
    .incrediblePhoto {
      width: 150px;
      height: 150px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-top: 4px;
    }
   
  
    .OnsaleTitle {
      font-size: 12px;
      color: var(--Genie);
      cursor: pointer;
      text-align: right;
      line-height: 20px;
      width: 100%;
      height: 40px;
      overflow: hidden;
    }
    .PricenDiscount {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      fill: var(--Genie);
      direction: ltr;
    }
    .realPrice {
      font-size: 14px;
      color: var(--Genie);
  
    }
    .saleTag {
      font-size: 12px;
      width: 34px;
      height: 20px;
      background-color: var(--Paradise-Pink);
      border-radius: 40px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 5;
      position: relative;
    }
  
    .onSale {
      font-size: 11px;
      color: var(--Cool-Gray);
      align-self: flex-end;
      padding-left: 20px;
      text-decoration: line-through;
    }
  
  /* third slider end */

  /* incredible offer start */

/* incredible offer right start */
.IncredibleOffer {
    margin: 0 48px;
    width: 100%; 
    height: 440px;
    background-color: var(--Paradise-Pink);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    row-gap: 16px;
}

.incredibleoffers {
    width: 209px;
    height: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 24px 0;
    margin: 0 32px;
    justify-content: center;

}

.incredibleoffers>img {
    width: 145px;
    height: 145px;
    object-fit: cover;
}



.ThirdSlider>.mySwiperThird>.swiper-wrapper>.swiper-slide>img {
width: 150px;
height: 150px;
object-fit: contain !important;
}





/* finish start */

.finish {
    width: calc(100% - 32px);
    height: 461px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid var(--bg-snow-white);
    
}

.finish>span {
    width: 100%;
    height: 67px;
    display: block;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    position: relative;
    
}
.finish>span>p {
    padding-right: 8px;
}


.finish>span::before {
    content: "";
    position: absolute;
    right: 17px;
    bottom: 5px; 
    width: 5%; 
    height: 2px; 
    background-color: var(--Line-Red);
}
/* finish end */


/* supermarket start */
.incredibleSupermarket {
    width: calc(100% - 96px);
    height: 110px;
    background-color: var(--App-Background);
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
    position: relative;
    cursor: pointer;
}

.incredibleInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row wrap;
}

.superbox {
    width: 62px;
    height: 66px;
}
.superbox>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.supertext {
    width: 250px;
    height: 28px;
    margin: 0 20px;
}
.supertext>img {
    width: 100%;
    height: 100%;
}

.superbutton {
    width: 110px;
    height: 28px;
    background-color: var(--Persian-Green);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.superbutton>span {
color: white;
font-size: 14px;
}

/* left side */
.incredibleChoose {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.incredibleOption {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}
.ChooseOptions {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: white;
    padding: 8px;
    margin: 16px 0 16px 8px;
    z-index: 1;
    position: relative;
    
}
.saleTag2 {
    font-size: 12px;
    width: 34px;
    height: 20px;
    background-color: var(--Paradise-Pink);
    border-radius: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 18px;
    left: 8px;
  }
.ChooseOptions>img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 50%;
}
.moreProductbtn {
    width: 142.55px;
    height: 50.04px;
    background-color: white;
    padding: 12px 20px;
    margin-left: 8px; 
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    gap: 8px;
    color: var(--Persian-Green);
    fill: var(--Persian-Green);
}
.svgunder {
    position: absolute;
    left: 0;
}
/* incredible supermarket end */

/* plus start */
.plus {
    width: calc(100% - 96px);
    height: 110px;
    background-color: var(--light-Purple);
   display: flex;
   flex-flow: column wrap;
   align-items: flex-end;
    border-radius: 16px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 18px;
}

.plus>.specialMember {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: purple;
    color: purple;
    padding-left: 30px;
    padding-top: 26px;
    gap: 4px;
    font-size: 16px;
}

.plus>.timeLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    font-size: 12px;
    gap: 4px;
    color: purple;
    fill: purple;
    padding-bottom: 10px;
}

.plus>.salentime {
    position: absolute;
    right: 30px;
}
.plus>.justpattern {
    position: absolute;
    right: 0;
}

.plus>.patternup {
    position: absolute;
    top: -75%;
    left: -11%;
}
/* plus end */











